body,
html {
  min-height: 100%;
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.app-root {
  display: flex;
  height: 100%;
}

.add-task-input {
  width: 100%;
}

.task-list-header {
  th:first-child {
    width: 1%;
  }
}

.filter-button {
  margin-right: 12px;
}

.task-list {
  .icon {
    width: 1%;
    padding-right: 0;
  }
  .edit-row {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
